host-suffix, ip6-localhost, proxy
host-suffix, ip6-loopback, proxy
host-suffix, lan, proxy
host-suffix, local, proxy
host-suffix, localhost, proxy
ip-cidr, 0.0.0.0/8, proxy
ip-cidr, 10.0.0.0/8, proxy
ip-cidr, 100.64.0.0/10, proxy
ip-cidr, 127.0.0.0/8, proxy
ip-cidr, 172.16.0.0/12, proxy
ip-cidr, 192.168.0.0/16, proxy
ip-cidr, 198.18.0.0/16, proxy
ip-cidr, 224.0.0.0/4, proxy
ip6-cidr, ::1/128, proxy
ip6-cidr, fc00::/7, proxy
ip6-cidr, fe80::/10, proxy
ip6-cidr, fd00::/8, proxy
